# Example only. Do not commit real passwords.

COMPOSE_PROJECT_NAME=erpnext
ERPNEXT_IMAGE=horizon/erpnext-school:v16.17.0-4
MYSQL_ROOT_PASSWORD=change_me

WOOD_FACTORY_REPO=https://github.com/Hasan-Alhendi/wood_factory.git
SCHOOL_MANAGEMENT_REPO=https://github.com/Hasan-Alhendi/School-management.git
