.env
*.env
.db_admin_password
*.password
*.secret
*.key
*.pem
*.crt
id_rsa*
local_apps/
backups/
*.sql
*.gz
*.tar
*.tar.gz
sites/
site_config.json
common_site_config.json
docker-compose.yml.bak*
*.bak
